.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1520px;
    align-items: center;
}

.select{
    color: white;
    background-color: white;
}